In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/aamer/Downloads/minute_weather.csv')

In [3]:
data.shape

(1587257, 13)

In [4]:
data.head()

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,2011-09-10 00:00:49,912.3,64.76,97.0,1.2,106.0,1.6,85.0,1.0,NaN,NaN,60.5
1,1,2011-09-10 00:01:49,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,0.0,39.9
2,2,2011-09-10 00:02:49,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,0.0,43.0
3,3,2011-09-10 00:03:49,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,0.0,49.5
4,4,2011-09-10 00:04:49,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,0.0,58.8

In [5]:
sampled_df = data[(data['rowID'] % 10) == 0]
sampled_df.shape

(158726, 13)

In [6]:
sampled_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
rowID,158726.0,793625.000000,458203.937509,0.00,396812.5,793625.00,1190437.50,1587250.00
air_pressure,158726.0,916.830161,3.051717,905.00,914.8,916.70,918.70,929.50
air_temp,158726.0,61.851589,11.833569,31.64,52.7,62.24,70.88,99.50
avg_wind_direction,158680.0,162.156100,95.278201,0.00,62.0,182.00,217.00,359.00
avg_wind_speed,158680.0,2.775215,2.057624,0.00,1.3,2.20,3.80,31.90
max_wind_direction,158680.0,163.462144,92.452139,0.00,68.0,187.00,223.00,359.00
max_wind_speed,158680.0,3.400558,2.418802,0.10,1.6,2.70,4.60,36.00
min_wind_direction,158680.0,166.774017,97.441109,0.00,76.0,180.00,212.00,359.00
min_wind_speed,158680.0,2.134664,1.742113,0.00,0.8,1.60,3.00,31.60
rain_accumulation,158725.0,0.000318,0.011236,0.00,0.0,0.00,0.00,3.12
rain_duration,158725.0,0.409627,8.665523,0.00,0.0,0.00,0.00,2960.00
relative_humidity,158726.0,47.609470,26.214409,0.90,24.7,44.70,68.00,93.00

In [7]:
sampled_df[sampled_df['rain_accumulation'] == 0].shape

(157812, 13)

In [8]:
sampled_df[sampled_df['rain_duration'] == 0].shape

(157237, 13)

In [9]:
del sampled_df['rain_accumulation']
del sampled_df['rain_duration']

In [10]:
rows_before = sampled_df.shape[0]
sampled_df = sampled_df.dropna()
rows_after = sampled_df.shape[0]

In [11]:
rows_before - rows_after

46

In [12]:
sampled_df.columns

Index(['rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'relative_humidity'],
      dtype='object')

In [17]:
features = ['air_pressure', 'avg_wind_direction', 'avg_wind_speed',
            'max_wind_direction', 'max_wind_speed', 'relative_humidity']

In [18]:
select_df = sampled_df[features]

In [19]:
select_df.columns

Index(['air_pressure', 'avg_wind_direction', 'avg_wind_speed',
       'max_wind_direction', 'max_wind_speed', 'relative_humidity'],
      dtype='object')

select_df

In [20]:
select_df

,air_pressure,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,relative_humidity
0,912.3,97.0,1.2,106.0,1.6,60.5
10,912.3,144.0,1.2,167.0,1.8,38.5
20,912.2,100.0,2.0,122.0,2.5,58.3
30,912.2,91.0,2.0,103.0,2.4,57.9
40,912.2,81.0,2.6,88.0,2.9,57.4
...,...,...,...,...,...,...
1587210,915.9,330.0,1.0,341.0,1.3,47.8
1587220,915.9,330.0,1.1,341.0,1.4,48.0
1587230,915.9,344.0,1.4,352.0,1.7,48.0
1587240,915.9,359.0,1.3,9.0,1.6,46.3
1587250,915.9,6.0,1.5,20.0,1.9,46.1

In [23]:
X = StandardScaler().fit_transform(select_df)

In [24]:
X

array([[-1.48456281, -0.68385323, -0.76555283, -0.62153592, -0.74440309,
         0.49233835],
       [-1.48456281, -0.19055941, -0.76555283,  0.03826701, -0.66171726,
        -0.34710804],
       [-1.51733167, -0.65236639, -0.37675365, -0.44847286, -0.37231683,
         0.40839371],
       ...,
       [-0.30488381,  1.90856325, -0.66835304,  2.0393087 , -0.70306017,
         0.01538018],
       [-0.30488381,  2.06599745, -0.71695294, -1.67073075, -0.74440309,
        -0.04948614],
       [-0.30488381, -1.63895404, -0.61975314, -1.55174989, -0.62037434,
        -0.05711747]])

In [25]:
kmeans = KMeans()
model = kmeans.fit(X)

In [26]:
centers = model.cluster_centers_
centers

array([[-1.11753617,  0.42983011,  1.67364173,  0.5261182 ,  1.63229484,
         0.95927399],
       [-0.27218906, -1.21696714, -0.61202045, -1.06808592, -0.62949105,
         0.08920173],
       [-0.36741094,  0.42656984, -0.35907039,  0.60551332, -0.35854112,
         1.17404368],
       [ 0.21010004,  0.75836863, -0.67108874,  0.97882874, -0.65613443,
        -0.63499984],
       [ 1.1888858 , -1.14920606,  2.0062788 , -1.04595915,  2.11824569,
        -1.11498994],
       [ 0.21518341,  1.88359182, -0.64995815, -1.54421904, -0.57122542,
        -0.22397945],
       [-0.14191954,  0.39274044,  0.51840221,  0.50434137,  0.47302554,
        -0.15524123],
       [ 1.11053795, -1.22393757, -0.27192661, -1.07519166, -0.26131193,
        -0.92915751]])