In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("C:/Users/aamer/Downloads/movies.csv", sep=',')

In [3]:
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [4]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [5]:
tags = pd.read_csv("C:/Users/aamer/Downloads/tags.csv", sep=',')

In [6]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [7]:
ratings = pd.read_csv("C:/Users/aamer/Downloads/ratings.csv", sep=',', parse_dates=['timestamp'])

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
del tags['timestamp']
del ratings['timestamp']

# Data Structures

# Series

In [10]:
#extract 0th row
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [11]:
print(row_0)

userId           3
movieId        260
tag        classic
Name: 0, dtype: object

In [12]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [13]:
row_0['userId']

3

In [14]:
'rating' in row_0

False

In [15]:
row_0.name

0

In [16]:
row_0=row_0.rename('first_row')

In [17]:
row_0.name

'first_row'

In [18]:
print(row_0)

userId           3
movieId        260
tag        classic
Name: first_row, dtype: object

# DataFrame

In [19]:
tags.head()

   userId  movieId               tag
0       3      260           classic
1       3      260            sci-fi
2       4     1732       dark comedy
3       4     1732    great dialogue
4       4     7569  so bad it's good

In [20]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [21]:
tags.iloc[ [0,11,2000]]

      userId  movieId           tag
0          3      260       classic
11         4   164909        cliche
2000     647   164179  twist ending

# Descriptive Statistics

Lets look at how the ratings are distributed

In [22]:
ratings['rating'].describe

<bound method NDFrame.describe of 0           5.0
1           3.5
2           5.0
3           5.0
4           3.5
           ...
25000090    4.5
25000091    2.5
25000092    2.0
25000093    4.0
25000094    5.0
Name: rating, Length: 25000095, dtype: float64>

In [23]:
ratings['rating'].mean()

3.533854451353085

In [24]:
ratings.mean()

userId     81189.281154
movieId    21387.981943
rating         3.533854
dtype: float64

In [25]:
ratings['rating'].min()

0.5

In [26]:
ratings['rating'].max()

5.0

In [27]:
ratings['rating'].std()

1.0607439610179747

In [28]:
ratings['rating'].mode()

0    4.0
dtype: float64

In [29]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.004413  0.001940
movieId -0.004413  1.000000 -0.009216
rating   0.001940 -0.009216  1.000000

In [30]:
filter_1 = ratings['rating'] > 5
filter_1.any()#is there any value greater than 5

False

In [31]:
filter_2 = ratings['rating'] > 0
filter_2.all()#all values are greater than 0

True

# Data Cleaning : Handling missing data

In [32]:
movies.shape

(62423, 3)

In [33]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

No null values

In [34]:
ratings.shape

(25000095, 3)

In [35]:
ratings.isnull().any()

userId     False
movieId    False
rating     False
dtype: bool

No null values

In [36]:
tags.isnull().any()

userId     False
movieId    False
tag         True
dtype: bool

We have some tags with null values

In [37]:
tags.shape

(1093360, 3)

In [38]:
tags= tags.dropna()

In [39]:
tags.isnull().any()

userId     False
movieId    False
tag        False
dtype: bool

In [40]:
tags.shape

(1093344, 3)

No null values and the number of values has also decreased

# Slicing out columns

In [41]:
tags['tag'].head()

0             classic
1              sci-fi
2         dark comedy
3      great dialogue
4    so bad it's good
Name: tag, dtype: object

In [42]:
movies[['title','genres']].head()

,title,genres
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),Adventure|Children|Fantasy
2,Grumpier Old Men (1995),Comedy|Romance
3,Waiting to Exhale (1995),Comedy|Drama|Romance
4,Father of the Bride Part II (1995),Comedy

In [43]:
ratings[1000:1010]

      userId  movieId  rating
1000       4    45517     2.5
1001       4    45722     3.5
1002       4    46948     2.5
1003       4    46972     3.5
1004       4    48780     5.0
1005       4    48982     3.0
1006       4    49272     3.5
1007       4    49396     3.5
1008       4    49649     1.0
1009       4    50601     1.5

In [44]:
tag_counts = tags['tag'].value_counts()
tag_counts[:10]

sci-fi                8330
atmospheric           6516
action                5907
comedy                5702
surreal               5326
based on a book       5079
twist ending          4820
funny                 4738
visually appealing    4526
dystopia              4257
Name: tag, dtype: int64

# Filters for selecting rows

In [45]:
is_highly_rated = ratings['rating'] >= 4.0
ratings[is_highly_rated][-5:]

          userId  movieId  rating
25000088  162541    41566     4.0
25000089  162541    45517     4.5
25000090  162541    50872     4.5
25000093  162541    58559     4.0
25000094  162541    63876     5.0

In [46]:
is_animation = movies[]

SyntaxError: invalid syntax (<ipython-input-46-0b037ffb1910>, line 1)

http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods